/* Header institucional */
.header-institucional {
    background-color: var(--pj-azul-oscuro);
    color: var(--color-blanco);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 4px solid var(--pj-azul-claro);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1px;
}

/* -------------------------------------- */
/* ESTILOS DEL LOGO */
/* -------------------------------------- */

/* El contenedor del logo (Reemplaza el antiguo .logo-placeholder) */
.logo-container {
    height: 75px; 
    display: flex;
    align-items: center;
}

/* El tag <img> que contiene la imagen */
.logo-imagen {
    height: 100%; /* La altura es 50px */
    width: auto; /* Mantiene la proporción */
    max-width: 150px; 
}

/* -------------------------------------- */

/* Si todavía tenías esta clase por algún error, elimínala, ya no se usa en el JSX */
/*
.logo-placeholder {
    font-size: 20px;
}
*/

.texto-institucional h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.texto-institucional h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    opacity: 0.8;
}

/* Buscador central */
.buscador-container {
    display: flex;
}

.buscador-container input {
    padding: 8px;
    border: none;
    width: 300px;
}

.buscador-container button {
    background-color: var(--pj-azul-oscuro);
    border: 1px solid var(--pj-azul-claro);
    color: var(--color-blanco);
    cursor: pointer;
    padding: 0 10px;
}

.header-right {
    font-weight: 500;
    cursor: pointer;
}